body
{
    background-color: #74537D;
    font-family: 'Open Sans', sans-serif;

}
#ui
{
    text-align: center;
}
button
{
    background-color: #C9ACCD;
    font-family: 'Open Sans', sans-serif;
    cursor: poiner;
    border:none;
    border-radius:2px;
    font-size: 20px;
}
button:hover {
    border: none;
    background: #AFCD8E;
}
#streamSettings
{
    font-size: 20px;
}
input
{
    text-align: center;
}
footer
{
    text-align: right;
}